body {
    background-color: #000;
    color: white; 
    font-size: 21px; 
}

p {
    color: #FFAA00;

}

h1 {
    font-size: 70px;
    color: pink;
}

em {
    color: #b2de23;
}

h2 {
    color:crimson;
}

h4 {
    color: #006c97
}